[submodule "deps/libcss"]
	path = deps/libcss
	url = https://github.com/rsms/libcss-osx.git
[submodule "deps/hunch-cocoa"]
	path = deps/hunch-cocoa
	url = https://github.com/rsms/hunch-cocoa.git
[submodule "deps/node"]
	path = deps/node
	url = https://github.com/joyent/node.git
[submodule "deps/chromium-tabs"]
	path = deps/chromium-tabs
	url = https://github.com/rsms/chromium-tabs.git
[submodule "deps/gazelle"]
	path = deps/gazelle
	url = https://github.com/rsms/gazelle.git
