# Mac
.DS_Store

# XCode
build/*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
xcuserdata
profile
*.moved-aside

# Dependencies
/deps/srchilight/include
/deps/srchilight/upstream-lang
/deps/bwtoolkit/build

# Kod Specific
*.breakpad
/src/kod_version.h
/website/public/config.php
