# Generic
.DS_Store
._*
*.o
*.dylib
* copy.*
.lock-wscript
*.node

# XCode
build/*
*.pbxuser
*.mode?v3
*.perspectivev3
*.xcworkspace
xcuserdata
*.moved-aside

# Dependencies
/deps/bwtoolkit/build

# Kod Specific
/src/kod_version.h
/website/public/config.php
/node-kod/build
/xcconfig/base-local.xcconfig
