# Generic
.DS_Store
._*
*.o
*.a
*.dylib
* copy.*
.lock-wscript
*.node
*.gz
*.tar
*.tgz

# XCode
build/*
*.pbxuser
*.mode?v3
*.perspectivev3
*.xcworkspace
xcuserdata
*.moved-aside

# Dependencies
/deps/bwtoolkit/build

# Kod Specific
/src/kod_version.h
/website/public/config.php
/node-kod/build
/xcconfig/base-local.xcconfig

# deps/lua
deps/lua/src/lua
deps/lua/src/luac
