[submodule "deps/srchilight/src-highlite"]
	path = deps/srchilight/src-highlite
	url = git://git.savannah.gnu.org/src-highlite.git
[submodule "deps/libcss"]
	path = deps/libcss
	url = git@github.com:rsms/libcss-osx.git
[submodule "deps/json-framework"]
	path = deps/json-framework
	url = https://github.com/stig/json-framework.git
[submodule "deps/hunch-cocoa"]
	path = deps/hunch-cocoa
	url = git@github.com:rsms/hunch-cocoa.git
[submodule "deps/node"]
	path = deps/node
	url = https://github.com/ry/node.git
