PRODUCT_NAME = Kod
ONLY_ACTIVE_ARCH = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
INSTALL_PATH = $(HOME)/Applications
MACOSX_DEPLOYMENT_TARGET = 10.6
OTHER_LDFLAGS = -framework Foundation -framework AppKit -lv8 -lnode
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
INFOPLIST_FILE = resources/Info.plist
ALWAYS_SEARCH_USER_PATHS = NO

KOD_DEPS = "$(SRCROOT)/deps"

NODE_PREPROCESSOR_DEFINITIONS = _LARGEFILE_SOURCE _FILE_OFFSET_BITS=64 _GNU_SOURCE EV_MULTIPLICITY=0
NODE_HEADER_SEARCH_PATHS = "$(KOD_DEPS)/node/src" "$(KOD_DEPS)/node/deps/v8/include" "$(KOD_DEPS)/node/deps/libeio" "$(KOD_DEPS)/node/deps/libev"
NODE_LIBRARY_SEARCH_PATHS = "$(CONFIGURATION_BUILD_DIR)/nodejs"

LIBCSS_HEADER_SEARCH_PATHS = "deps/libcss/cocoa-framework/build/$(BUILD_STYLE)/CSS.framework/Headers"

// Note: values can not wrap lines
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)" "$(KOD_DEPS)/chromium-tabs/build/$(BUILD_STYLE)" "$(KOD_DEPS)/libcss/cocoa-framework/build/$(BUILD_STYLE)" "$(KOD_DEPS)"
HEADER_SEARCH_PATHS = "$(SRCROOT)/src/ICU/include" $(NODE_HEADER_SEARCH_PATHS)  $(LIBCSS_HEADER_SEARCH_PATHS)
LIBRARY_SEARCH_PATHS = $(inherited) $(NODE_LIBRARY_SEARCH_PATHS)

BASE_PREPROCESSOR_DEFINITIONS = $(NODE_PREPROCESSOR_DEFINITIONS)

GCC_C_LANGUAGE_STANDARD = gnu99
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = src/prefix.pch
GCC_ENABLE_CPP_EXCEPTIONS	= YES
ZERO_LINK = NO
DEBUG_INFORMATION_FORMAT = dwarf
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_DEBUGGING_SYMBOLS = used
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_INLINES_ARE_PRIVATE_EXTERN = NO
ONLY_ACTIVE_ARCH = NO

#include "base-local.xcconfig"
