#include "base.xcconfig"

VALID_ARCHS = i386 x86_64
DEPLOYMENT_POSTPROCESSING = YES
DEAD_CODE_STRIPPING = YES
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES

GCC_PREPROCESSOR_DEFINITIONS = $(BASE_PREPROCESSOR_DEFINITIONS) K_WITH_CRASH_REPORT_COLLECTOR=1 NDEBUG=1

GCC_AUTO_VECTORIZATION = YES
GCC_ENABLE_SSE3_EXTENSIONS = YES
GCC_ENABLE_SSE41_EXTENSIONS = YES
GCC_ENABLE_SSE42_EXTENSIONS = YES
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = YES
GCC_ENABLE_FIX_AND_CONTINUE = NO
