body {
    font-family: "M+ 1m", monospace;
    font-size: 11px;
    background-color: #272727;
    color: #EFEFEF;
}

caret { color: #00A2E8; }
selection { background-color: #505050; }
column-guide { color: #444; /*background: #333;*/ }

metaruler {
    color: #666;
    background: #232323;
    border-right: 2px solid #232323;
    font-size: 11px;
}

keyword { color: #00cfff; }
type { color: #f68e01; }
usertype { color: #CAC059; }
classname { color: #eb7962; }
string { color: #23e738; background-color: #212524; }
specialchar { color: #abcf9e; background-color: #132827; }
regexp { color: #F68E01; background-color: #271d1b; }
comment { color: #666; }
number { color: #ff40ab;  }
preproc { color: #9C8B7C; }
symbol { color: #787691; }
function { color: #2fcfcb; background-color: #102227; }
cbracket { color: #EFEFEF; }
todo { color: #946B57; font-weight: bold; }

/* Internet related */
url {
    color: #77B5FF; text-decoration: underline;
    cursor: pointer;
}

/* other elements for ChangeLog and Log files */
date { color: #F09C9F; font-weight: bold; }
time, file { color: #A78AB0; font-weight: bold; }
ip, name { color: #8CB194; }

/* for Prolog, Perl, lang */
variable { color: #cda869; }
italics { text-decoration: underline; font-style: italic; }
bold { color: #fff; font-weight: bold; }

/* for LaTeX, markdown, etc */
underline { color: #3C7E5B; text-decoration: underline; }
fixed { color: #ccd0f6; background-color: #2c2c2c; }
argument, optionalargument { color: #9194BB; }
math { color: orange; }
bibtex { color: #8D86EE; }
h1,h2,h3,h4,h5,h6 { color: #f68e01; }
ul, ol { color: yellow; }

/* for diffs */
oldfile { background-color:#df444d; }
newfile { background-color:#6ddf63; }
difflines { background-color:#44d2df; }

/* for css */
selector { color: #f6143e; }
property { color: #f60091; }
value { color: #f68e01; }

/* for Oz, Erlang, etc */
atom { color: #f68e01; }
meta { font-style: italic; }
