/*
 * This is the default style of Kod. If you wish to modify this to your liking,
 * create a new stylesheet in ~/.kod/mystyle.css then tell Kod where to find it
 * by setting a configuration key:
 *
 *  $ defaults write se.hunch.kod style/url ~/.kod/mystyle.css
 *
 * You need to restart Kod for changes to take effect. Then, simply open your
 * ~/.kod/mystyle.css in Kod. This stylesheet will override the built-in default
 * style.
 *
 * When edited and saved in Kod, Kod will automatically reload the style,
 * thus you see the effect of your alterations. Note that this "auto-reloading"
 * only works when editing the stylesheet in Kod.
 */
body {
  font-family: "M+ 1m", monospace;
  font-size: 11px;
  background-color:#222;
  color: #eee;
}

/* color of the caret and selection range */
caret { color: #ff3319; }
selection { background-color: #2F3F52; }
column-guide { color: #444; /*width:4px; background: #333;*/ }

/* the color for context lines (when specified with line ranges) */
metaruler {
  color: #666;
  background: #333;
  border-right: 2px solid #444;
  font-size: 11px;
}

keyword { color: #66c8ef; }
type { color: lightsalmon; }
usertype { color: #CAC059; }
classname { color: #eb7962; }
string { color:#9aca7e; background-color:#212A24; }
specialchar { color: #C0D164; background-color:#2B2F26; }
regexp { color: #FFB14B; background-color:#342C22; }
comment { color: #666; font-style: italic; }
number { color: #C969B6; }
preproc { color: #9C8B7C; }
symbol { color: #A19DBF; }
function { color: #85FFDF; background-color: #1F2B31; }
cbracket { color: #ddd; }
todo { color: #946B57; font-weight: bold; }

/* Internet related */
url {
  color: #77B5FF; text-decoration: underline;
  cursor: pointer;
}

/* other elements for ChangeLog and Log files */
date { color: #F09C9F; font-weight: bold; }
time, file { color: #A78AB0; font-weight: bold; }
ip, name { color: #8CB194; }

/* for Prolog, Perl, lang */
variable { color: #cda869; }
italics { text-decoration: underline; font-style: italic; }
bold { color: #fff; font-weight: bold; }

/* for LaTeX, markdown, etc */
underline { color: #3C7E5B; text-decoration: underline; }
fixed { color: #bbeecc; background-color: #2c2c2c; }
argument, optionalargument { color: #9194BB; }
math { color: orange; }
bibtex { color: #8D86EE; }
h1,h2,h3,h4,h5,h6 { color: lightsalmon; }
ul, ol { color: yellow; }

/* for diffs */
oldfile { color: #f7bfb6; background-color:#42201C; }
newfile { color: #cff7bf; background-color:#13340C; }
difflines { color: white; background-color:#3D96DE; }

/* for css */
selector { color: #cda869; }
property { color: #c4af75; }
value { color: #f9ed97; }

/* for Oz, Erlang, etc */
atom { color: orange; }
meta { font-style: italic; }

/* CSS v2 tests */
value > string { color: red; }
object.json > pair > value > string { color: yellow; }
array.json value > string { color: #ffaa22; }
